<form action="">
    <h3>Car Information:</h3>
    <!-- make -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carMake" name="carMake" placeholder="Make">
    </div>
    <br>
    <!-- model -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carModel" name="carModel" placeholder="Model">
    </div>
    <br>
    <!-- year -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carYear" name="carYear" placeholder="Year">
    </div>
    <br>
    <!-- km's -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carKMs" name="carKMs" placeholder="Kilometres">
    </div>
    <br>
    <!-- rego -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carRego" name="carRego" placeholder="Registration Number">
    </div>
    <br>
    <div class="button">
        <input class="submit" type="submit" value="Submit">
    </div>  
</form>
