<form class="vehicle-form">
    <h3>Car Information:</h3>
    <!-- make -->
    <div class="form-group col-md-10">
        <label>Make</label>
        <input type="text" class="form-control" id="carMake" name="carMake">
    </div>
    <br>
    <!-- model -->
    <div class="form-group col-md-10">
        <label>Model</label>
        <input type="text" class="form-control" id="carModel" name="carModel">
    </div>
    <br>
    {{!-- <!-- year -->

    <div class="form-group col-md-10">
        <label>Year</label>
        <input type="text" class="form-control" id="carYear" name="carYear">

    </div>
    <br>  --}}
    <!-- km's -->
    <div class="form-group col-md-10">
        <label>Kilometres</label>
        <input type="text" class="form-control" id="carKMs" name="carKMs">
    </div>
    <br>
    <!-- rego -->
    <div class="form-group col-md-10">
        <label>Registration Number</label>
        <input type="text" class="form-control" id="carRego" name="carRego">
    </div>
    <br>
    <div class="button">
        <input class="submit" type="submit" value="Submit">
    </div>  
</form>

<script src="/js/addCarDetails.js"></script>