<!--This is the form for adding a new client-->
  <divclass="container">
  <div class="add-client-container">
    <h1>Search for a client</h1>
    <input id="client-name" placeholder="search for client by name"></input>
<!-- -->
      <button id="searchclient">search</button>
    <!-- -->
    <br>
    <h2>
      Add a client!
    </h2>
    <form class="new-client-form">
      <label for="client_name">
        Client Name:
       </label>
       <br/>
       <textareaid="client_name"name="client_name"rows="2"cols="30"></textarea>
       <br/>
       <labelfor="address">
        Address:
       </label>
       <br/>
       <textareaid="address"name="address"rows="2"cols="30"></textarea>
       <br/>
       <br/>
       <labelfor="phone">
        Phone:
       </label>
       <br/>
       <textareaid="phone"name="phone"rows="2"cols="30"></textarea>
       <br/>
       <labelfor="dob">
        DOB:
       </label>
       <br/>
       <inputtype="text"id="dob"name="dob"rows="2"cols="30"></input>
       <br/>
       <buttontype="submit"value="Submit">
        Submit
       </button>
    </form>
  </div>
</div>
</div>
<script src="js/add-client.js"></script>