    <form class="container loginform">
        <div class="form-group col-md-10">
          <h3>Existing customer login</h3>
          <div>
              <input type="text" class="form-control" id="email" name="email" placeholder="Email">
          </div>
          <br>
          <div>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <br>
          <div class="button">
              <input class="submit" type="submit" value="Submit">
          </div>  
        </div>
    </form>

<script src="/js/customerLogin.js"></script>