<form class="container loginform">
    <h3>Existing customer login</h3>
    <div class="form-group col-md-10">
        <div>
            <label>Email</label>
           <input type="text" class="form-control" id="email" name="email"> 
        </div>
        <br>
        <div class="col-md-5">
            <label>Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
    </div>
    <br>
    <div class="button">
        <input class="submit" type="submit" value="Submit">
    </div>  

</form>

<script src="/js/customerLogin.js"></script>