<section class="section">
    <div>
        <h3 class="aboutUs">About us:</h3>
    </div>
    <div class="aboutText">
        <p>At AutoM8, we value your loyalty and are striving to make it easier to access our services.</p>
    </div>
</section>