<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <title>AutoM8</title>
</head>
<body>
    <div class="container-fluid bg-dark text-light mb-5 p-3">
        <h1 class="d-flex align-items-center">AutoM8</h1>
        <nav>
            <ul>
                <li>Login</li>
                <li>Registration</li>
            </ul>
        </nav>
    </div>
    <div>
        <h3>About us:</h3>
    </div>
    
    <div>
        <p>At AutoM8, we value your loyalty and are striving to make it easier to access our services.</p>
    </div>
    
</body>
</html>