<form class="container">
    <div class="form-group col-md-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="Employee Email">
    </div>
    <br>
    <div class="form-row password">
        <div class="col-md-5">
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    <br>
    <div class="button">
        <input class="submit" type="submit" value="Submit">
    </div>  

</form>
    