<form class="container new-client-form">
    <h3>Customer Details:</h3>
    <div class="form-row name">
        <div class="col-md-5">
            <input type="text" class="form-control" id="firstName" placeholder="First name">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="lastName" placeholder="Last name">
        </div> 
    </div> 
    <br>
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="phoneNumber" name="phone" placeholder="Contact Number">
    </div>
    <br>
    <div class="form-group col-md-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="Contact Email">
    </div>
    <br>
    {{!-- DOB --}}
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="DoB" name="DoB" placeholder="Date of Birth">
    </div>
    <br>
    {{!-- Street Address --}}
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="address" name="Address" placeholder="Street Address">
    </div>
    <br>
    {{!-- Suburb & Postcode --}}
    <div class="form-row name">
        <div class="col-md-5">
            <input type="text" class="form-control" id="suburb" placeholder="Suburb">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="postcode" placeholder="Postcode">
        </div> 
    </div> 
    <div>
        <div class="form-row password">
            <div class="col-md-5">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-row password">
            <div class="col-md-5">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
            </div>
        </div>
    </div>
    

</form>

<script src="/js/registration.js"></script>
        
 