<form class="container new-client-form">
    <h2>Customer sign up</h2>
    <h3>Please enter your details here:</h3>
    <div class="form-row name">
        <div class="col-md-5">
            <label>First Name</label>

            <input type="text" class="form-control" id="firstName">
        </div>
        <div class="col-md-5">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName">

         
        </div> 
    </div> 
    <br>
    <div class="form-group col-md-10">
        <label>Contact Number</label>
        <input type="text" class="form-control" id="phoneNumber" name="phone">
    </div>
    <br>
    <div class="form-group col-md-10">
        <label>Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <br>
    {{!-- DOB --}}
    <div class="form-group col-md-10">
        <label>Date Of Birth (YYYY-MM-DD)</label>

        <input type="text" class="form-control" id="DoB" name="DoB">

    </div>
    <br>
    {{!-- Street Address --}}
    <div class="form-group col-md-10">
        <label>Street Address</label>
        <input type="text" class="form-control" id="address" name="Address">
    </div>
    <br>
    {{!-- Suburb & Postcode --}}
    <div class="form-row name">
        <div class="col-md-5">
            <label>Suburb</label>
            <input type="text" class="form-control" id="suburb">
        </div>
        <div class="col-md-5">
            <label>Postcode</label>
            <input type="text" class="form-control" id="postcode">
        </div> 
    </div> 
    <br>
    <div class="form-row password">
        <div class="col-md-5">
            <label>Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="col-md-5">
            <label>Confirm Password</label>
            <input type="password" class="form-control" id="inputPassword2">
        </div>
    </div>
    <br>
    <div class="button">
        <input class="submit" type="submit" value="Submit">
    </div>
</form>

<script src="/js/registration.js"></script>
        
 