<form class="container new-client-form">
    <h3>Customer Details:</h3>
    <div class="form-row name">
        <div class="col-md-5">
            <input type="text" class="form-control" id="firstName" placeholder="First name">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="lastName" placeholder="Last name">
        </div> 
    </div> 
    <br>
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="phoneNumber" name="phone" placeholder="Contact Number">
    </div>
    <br>
    <div class="form-group col-md-10">
        <input type="email" class="form-control" id="email" name="email" placeholder="Contact Email">
    </div>
    <br>
    {{!-- DOB --}}
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="DoB" name="DoB" placeholder="Date of Birth">
    </div>
    <br>
    {{!-- Street Address --}}
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="address" name="Address" placeholder="Street Address">
    </div>
    <br>
    {{!-- Suburb & Postcode --}}
    <div class="form-row name">
        <div class="col-md-5">
            <input type="text" class="form-control" id="suburb" placeholder="Suburb">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="postcode" placeholder="Postcode">
        </div> 
    </div> 




    <h3>Car Information:</h3>
    <!-- make -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carMake" name="carMake" placeholder="Make">
    </div>
    <br>
    <!-- model -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carModel" name="carModel" placeholder="Model">
    </div>
    <br>
    <!-- year -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carYear" name="carYear" placeholder="Year">
    </div>
    <br>
    <!-- km's -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carKMs" name="carKMs" placeholder="Kilometres">
    </div>
    <br>
    <!-- rego -->
    <div class="form-group col-md-10">
        <input type="text" class="form-control" id="carRego" name="carRego" placeholder="Registration Number">
    </div>
    <br>
    <div class="button">
        <input class="submit" type="submit" value="Submit">
    </div>  
</form>

<script src="/public/js/registration.js"></script>
        
 