
#navbar {
    justify-content: end;
    background-color: #1E2633;
    
}

.nav-link {
    color: #f8d9b2;
}

.jumbotron {
    background-color: #52B6D6;
}

h1 {
    color: #CA0000;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    color: #CA0000;
}

.aboutUs {
    text-align: center;
}

.aboutText {
    max-width: 60%;
    text-align: center;
}



img{
    max-block-size: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: #1E2633 solid 40px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#img-background {
    margin-top: 40px;
    background-color: #1E2633;
}

.button {
    display: flex;
}

.card {
    max-width: 45%;
    display: inline-block;
}

.card-body {
    border: black solid 2px;
    border-radius: 5px;
    max-width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

li {
    list-style: none;
}


.btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.submit {
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    img {
      max-width: 200px;
    }
  }

  @media only screen and (max-width: 900px) {
    img {
      max-width: 300px;
    }
  }

  .row{
      justify-content: center;
  }

  .col-md-5{
      margin-left: 40px;
  }