
#navbar {
    justify-content: end;
    background-color: #1E2633;
    
}

.nav-link {
    color: #f8d9b2;
}

.jumbotron {
    background-color: #52B6D6;
}

h1 {
    color: #CA0000;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    color: #CA0000;
}

.aboutUs {
    text-align: center;
}

.aboutText {
    max-width: 60%;
    text-align: center;
}



img{
    max-block-size: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: #1E2633 solid 40px;
    justify-content: center;
}

#img-background {
    margin-top: 40px;
    background-color: #1E2633;
}

.button {
    display: flex;
}

.submit {
    justify-content: center;
}

